doctype html 
html 
    head 
        title Error Page 
        meta(charset='utf-8')
        style
            include ../stylesheets/errorpage.css
    body(class='main-area')
        p 
            h1 찾고자 하는 등번호를 가진 선수가 없습니다.