.main-area{
    align-items: center;
    text-align: center;
    background-color: #131230;
    background-image: url(https://www.doosanbears.com/images/icon_logo_transpert.png);
    background-position-x: center;
}
h2{
    color: #C7C6C6;
}
.searcharea{
    font-size: 100px;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #C7C6C6;
    background-image: url(https://www.doosanbears.com/images/icon_logo_transpert.png);
    background-position: center;
    background-size: cover;
}
.button{
    width: 200px;
    height: 50px;
}
.table{
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}